.DS_Store
node_modules
/dist

*/Identifier
# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

images/*
!images/0.jpg
!images/1.jpg
!images/2.jpg
!images/3.jpg
!images/4.jpg
