@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --main-color: #FC3952;
    --black: #1F1F1F;
    --grey: #665E5E
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#navbar {
    width: 100vw;
    height: 5vh;
    display: flex;
    background-color: var(--black);
    align-items: center;
}

.nav-item {
    margin: 0px;
    font-size: 24px;
    border: 0;
    padding: 0 20px;
    color: white;
    background-color: var(--black);
}

.nav-button:hover {
    background-color: var(--grey);
    cursor: pointer;
}

#nav-center {
    color: var(--main-color);
}

.horizontal-spacer {
    flex-grow: 1;
}

#nav-left, #nav-right {
        flex-grow: 1;
        display: flex;
        height: 100%;
}

#nav-center {
    display: flex;
}

.gem-logo {
    background: url("../img/logo.svg") no-repeat center;
    width: 40px;
}